{% extends "base.html" %}

{% block content %}
<h1>Tracking</h1>

<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <table border=1>
        <tr>
            <th>{{ form.date_field.label }}</th>
            <th>{{ form.type_field.label }}</th>
            <th>{{ form.category_field.label }}</th>
            <th>{{ form.amount_field.label }}</th>
            <th>{{ form.goal_field.label }}</th>
            <th>{{ form.comment_field.label }}</th>
        </tr>
        <tr>
            <td>
                {{ form.date_field }}
                {% for error in form.date_field.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>
                {{ form.type_field }}
                {% for error in form.type_field.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>
                {{ form.category_field }}
                {% for error in form.category_field.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>
                {{ form.amount_field }}
                {% for error in form.amount_field.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>{{ form.goal_field }}</td>
            <td>
                {{ form.comment_field }}
                {% for error in form.comment_field.errors %}
                <br><span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <th>{{ form.submit_field }}</th>
        </tr>
        {% if data %}
        {% for row in data %}
        <tr>
            {% for column in row %}
            <td>{{ column }}
            {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</form>

<p id="test"></p>
<script>
    const data = {
        {{ types[0]|tojson }}: {{ categories[0]|tojson }},
        {{ types[1]|tojson }}: {{ categories[1]|tojson }},
        {{ types[2]|tojson }}: {{ categories[2]|tojson }}
    };
    let typeDropdown = document.getElementById("type_field");
    let categoryDropdown = document.getElementById("category_field");

    let testvar = document.getElementById('test');

    typeDropdown.onchange = function() {
        type = typeDropdown.value;
        categories = data[type]

        let option = '';
        categories.forEach(category => {
            option += '<option value="' + category + '">' + category + '</option>';
            testvar.innerHTML = category;
        });
        categoryDropdown.innerHTML = option;
    }
</script>
{% endblock %}